.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002b80; /* azul oscuro */
  color: white;
  padding: 10px 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  height: 40px;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-right a:hover {
  color: #00ffff; /* celeste claro */
}

.separator {
  color: #ffffffaa;
  font-weight: bold;
}

.admin-name {
  background-color: #ffcc00;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
}

.logout-btn {
  background-color: #d62828;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #b71c1c;
}
